@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500&display=swap');
@import url("http://basehold.it/24");

html {
  font-family: Zilla Slab, Georgia, "Times New Roman", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
  background-color: #afd9ea;
}
}
