@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500&display=swap');


html {
  font-family: Zilla Slab, Georgia, "Times New Roman", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
  background-color: #afd9ea;
}
header {
  background-color: #f2f2f2;
  padding-left: 4px;
  box-shadow: 6px 6px #dc6d40;
}
h1 {
  font-size: 42.635px;
  padding-left:12px;
}
aside {
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 24px;
  padding-bottom: 8px;
}
.space {
  padding-top: 18px;
}
form {
  background-color: #f2f2f2;
  box-shadow: 6px 6px #dc6d40;
}
legend {
  font-size: 23.994px;
  text-align: center;
  padding-right: 8px;
  padding-top: 4px;
}
ul {
  padding-top:20px;
  text-align: center;
}
li {
  padding-bottom: 16px;
}
